<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/bootstrap/3.4.1/css/bootstrap.min.css}" />
<link th:href="@{/css/dashboard.css}" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<h1 class="h2">Products</h1>

				</div>

				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group mr-2">
							<button class="btn btn-sm btn-outline-secondary"
								data-toggle="modal" data-target="#add">New</button>
						</div>
					</div>
					<div class="box-tools ">
						<div class="input-group input-group-sm hidden-xs"
							style="width: 300px;">
							<input id="inputSearch" type="text" name="table_search"
								class="form-control pull-right" placeholder="Search">
							<div class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<span class="fa fa-caret-down"></span>
								</button>
							</div>
							<select id="maxRows" style="width: 100px;"
								class="form-control select2 select2-hidden-accessible ml-1 pull-right"
								data-select2-id="1" tabindex="-1" aria-hidden="true">
								<option selected="selected" value="100">Show All</option>
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="15">15</option>
								<option value="25">25</option>
								<option value="30">30</option>
							</select>

						</div>

					</div>
				</div>

				<div class="table-responsive">
					<div class="box-body table-responsive no-padding">
						<table id="splrlisttb" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Id</th>
									<th>Initial</th>
									<th>Name</th>
									<th>Price</th>
									<th>Stock</th>
									<th>Variant/Category</th>
									<th>Actions</th>

								</tr>
							</thead>
							<tbody id="product_body">

							</tbody>
						</table>

					</div>
					<div id="pager">
						<ul id="pagination" class="pagination-sm"></ul>
					</div>

				</div>

				<!-- Modal add -->
				<div class="modal fade" id="add" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">Add Category</h3>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form id="formCategory">
									<div class="form-group">
										<label for="title">Initial :</label><br> <input
											class="form-control" type="text" id="initial" name="initial"
											placeholder="input Initial">
									</div>
									<div class="form-group">
										<label for="name">Name :</label><br> <input
											class="form-control" type="text" id="name" name="name"
											placeholder="input name">
									</div>
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="isActive">
										<label class="form-check-label" for="isActive">Check
											For Active</label>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button type="button" id="saveBtn" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.modal -->


				<!-- Modal edit -->
				<div class="modal fade" id="edit" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">Edit Category</h3>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form id="formCategory">
									<div class="form-group">
										<label for="title">Category Id :</label><br> <input
											class="form-control" type="text" id="editCateId"
											name="editCateId" disabled="disabled">
									</div>
									<div class="form-group">
										<label for="title">Initial :</label><br> <input
											class="form-control" type="text" id="editInitial"
											name="initial" placeholder="input Initial">
									</div>
									<div class="form-group">
										<label for="name">Name :</label><br> <input
											class="form-control" type="text" id="editName" name="name"
											placeholder="input name">
									</div>
									<div class="form-check">
										<input type="checkbox" class="form-check-input"
											id="editIsActive"> <label class="form-check-label"
											for="editIsActive">Check For Active</label>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button type="button" id="editBtn" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.modal -->

	<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Xsis
			Academy</a> <input class="form-control form-control-dark w-10"
			type="text" placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap"><a class="nav-link" href="#">Sign
					out</a></li>
		</ul>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link active" href="#">
								<span data-feather="home"></span> Spring MVC <span
								class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/users}">
								<span data-feather="file"></span> Users
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/category}"> <span data-feather="shopping-cart"></span>
								Categories
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="users"></span> Variants
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="bar-chart-2"></span> Products
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="layers"></span> Orders
						</a></li>
					</ul>

					<h6
						class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Rest API</span> <a
							class="d-flex align-items-center text-muted" href="#"> <span
							data-feather="plus-circle"></span>
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item"><a class="nav-link"  th:href="@{/users}"> <span
								data-feather="file-text"></span> Users
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/category}"> <span data-feather="file-text"></span>
								Categories
						</a></li>
						<li class="nav-item"><a class="nav-link"  th:href="@{/variant}"> <span
								data-feather="file-text"></span> Variant
						</a></li>
						<li class="nav-item"><a class="nav-link"  th:href="@{/product}"> <span
								data-feather="file-text"></span> Products
						</a></li>
						<li class="nav-item"><a class="nav-link"  th:href="@{/order}"> <span
								data-feather="file-text"></span> Orders
						</a></li>
					</ul>
				</div>
			</nav>
			<!-- place your page inner tag main -->
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<h1 class="h2">Category</h1>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group mr-2">
							<button class="btn btn-sm btn-outline-secondary"
								data-toggle="modal" data-target="#addCategory">New</button>
							<button class="btn btn-sm btn-outline-secondary">Export</button>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<div class="table-responsive">
						<table id="myTable" class="table table-striped table-sm">
							<thead>
								<tr>
									<th>#</th>
									<th>Initial</th>
									<th>Name</th>
									<th>Active</th>
									<th>Variants</th>
									<th>Actions</th>
							
								</tr>
							</thead>
							 <tbody>
                            <tr th:each="cate,cnt:${categories}">
                                <td th:text="${cnt.count}"></td>
                                <td th:text="${cate.cateInit}"></td>
                                <td th:text="${cate.cateName}"></td>
                                <td th:text="${cate.cateIsActive}"></td>
                                <td>
                                   <div class="input-group-btn">
                                   <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                   Action
                                   <span class="fa fa-caret-down"></span></button>
                                   <ul class="dropdown-menu">
                                   <li onclick="editAction(this)" th:value="${cate.cateId}"   data-toggle="modal" data-target="#editCategory"><a href="#">Edit</a></li>
                                   <li onclick="deleteAction(this)" th:value="${cate.cateId}" ><a href="#">Delete</a></li>
                                   </ul>
                                   </div>
                                </td>
                            </tr>
                        </tbody>
						</table>
						
						<!-- Modal add -->
				<div class="modal fade" id="addCategory" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">Add Category</h3>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form id="formCategory">
									<div class="form-group">
										<label for="title">Initial :</label><br> <input
											class="form-control" type="text" id="initial" name="initial"
											placeholder="input Initial">
									</div>
									<div class="form-group">
										<label for="name">Name :</label><br> <input
											class="form-control" type="text" id="name" name="name"
											placeholder="input name">
									</div>
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="isActive">
										<label class="form-check-label" for="isActive">Check
											For Active</label>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button type="button" id="saveBtn" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.modal -->
					</div>
				</div>

				

			</main>
			<!-- end place your page inner tag main -->
		</div>
	</div>
</body>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bootstrap/3.4.1/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/sweetalert2@9.js}"></script>

<script>


</script>

</html>
