<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/bootstrap/3.4.1/css/bootstrap.min.css}" />
<link th:href="@{/css/dashboard.css}" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>

	<!-- brand navigasi -->
	<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Xsis Academy</a> 
	</nav>
	<!-- Akhir brand navigasi -->
	
	<div class="container-fluid">
		<div class="row">
			<!-- sidebar -->
			<nav class="col-md-2  d-md-block bg-light sidebar  ">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link active" href="#">
								<span data-feather="home"></span> Spring MVC 
								<span class="sr-only">(current)</span>
							</a>
						</li>
						
					</ul>
			
					<h6	class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Rest API</span> 
						<a class="nav-link active" href="#"> 
							<span data-feather="plus-circle"></span>
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item">
							<a class="nav-link" href="/category"> 
								<span data-feather="file-text"></span>
								Categories
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/variant"> 
								<span data-feather="file-text"></span> 
								Variant
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/product"> 
								<span data-feather="file-text"></span> 
								Product
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<!-- akhir sidebar -->
			
			<!-- place your page inner tag main -->
			
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				
				<div class="container-fluid">
	                
	                <div id="fragment">
	                	
	                </div>
	                
	   			 </div> 
			


			</main>
			<!-- end place your page inner tag main -->
		</div>
	</div>
</body>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bootstrap/3.4.1/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/sweetalert2@9.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>



<script type="text/javascript">
$('.nav-link').click(function(){
	var url=$(this).attr('href');
	$.ajax({
		url : url,
		type : 'get',
		dataType : 'html',
		success : function(result) {
		if(url=="/"){
			window.location='/';
			}else{
				$('#fragment').html(result);
			}
		}

	});
	return false;
});
	
</script>

</html>