<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/bootstrap/3.4.1/css/bootstrap.min.css}" />
<link th:href="@{/css/dashboard.css}" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
	<div
		class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		<h1 class="h2">Products</h1>

	</div>

	<div
		class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group mr-2">
				<button class="btn btn-sm btn-outline-secondary"
					data-toggle="modal" data-target="#add">New</button>
			</div>
		</div>
		<div class="box-tools ">
			<div class="input-group input-group-sm hidden-xs"
				style="width: 300px;">
				<input id="inputSearch" type="text" name="table_search"
					class="form-control pull-right" placeholder="Search">
				<div class="input-group-btn">
					<button type="submit" class="btn btn-default">
						<span class="fa fa-caret-down"></span>
					</button>
				</div>
				<select id="maxRows" style="width: 100px;"
					class="form-control select2 select2-hidden-accessible ml-1 pull-right"
					data-select2-id="1" tabindex="-1" aria-hidden="true">
					<option selected="selected" value="100">Show All</option>
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="25">25</option>
					<option value="30">30</option>
				</select>

			</div>

		</div>
	</div>

	<div class="table-responsive">
		<div class="box-body table-responsive no-padding">
			<table id="splrlisttb" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Price</th>
						<th>Stock</th>
						<th>Variant/Category</th>
						<th>Actions</th>

					</tr>
				</thead>
				<tbody id="product_body">

				</tbody>
			</table>

		</div>
		<div id="pager">
			<ul id="pagination" class="pagination-sm"></ul>
		</div>


	</div>			<!-- end place your page inner tag main -->
</body>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bootstrap/3.4.1/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/sweetalert2@9.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>

<script>
	var 
	pageNo=0,
	pageSize=5,
	sortBy='id',
	sortType='asc';
	
	var filter='&pageNo='+pageNo+'&pageSize='+pageSize+'&sortBy='+sortBy+'&sortType='+sortType;
	var apiUrl = '/api/product/fecthProductVariant?';
	
	
	
	
	// anonymous function similiar with document ready
	$(()=> {
	
		onLoadApi(apiUrl+filter);
	
	});
	
	
	$('#maxRows').change(() => {
        let maxrows = $("#maxRows option:selected").text();
        $('#emp_body > tr').remove();

        if (maxrows === 'Show All') {
        	pageNo=0;
            pageSize=100;
            sortBy='id';
            sortType='asc';	
        	setFilter(pageNo,pageSize,sortBy,sortType);
            onLoadApi(apiUrl+filter);
        	
        } else {
        	pageNo=0;
            pageSize=maxrows;
            sortBy='id';
            sortType='asc';	
            setFilter(pageNo,pageSize,sortBy,sortType);
        	onLoadApi(apiUrl+filter);
        }

    });

	


	function setFilter(pageNo, pageSize, sortBy,sortType) {
        filter='&pageNo='+pageNo+'&pageSize='+pageSize+'&sortBy='+sortBy+'&sortType='+sortType;
        return filter;
    }
	
	 $(()=> {
	        window.pagObj = $('#pagination').twbsPagination({
	            totalPages: 10,
	            visiblePages: 5,
	            onPageClick: function (event, page) {
	                console.info(page + ' (from options)');
	            }
	        }).on('page', function (event, page) {
	        	pageNo=page-1;
	            pageSize=5;
	            sortBy='id';
	            sortType='asc';	
	            setFilter(pageNo,pageSize,sortBy,sortType);
	        	onLoadApi(apiUrl+filter);
	            console.info(page + ' (from event listening)');
	        });
	    });

	 
	 
	 onLoadApi=(url)=>{

			$.ajax({
				url: url,
				type: 'get',
				contentType: 'application/json',
				success : (data) =>{
					generateTable(data);
				},
				error:()=>{
					console.log('Failed to fetch data');
				}
			});
		

			// generate table
			generateTable=(resdata)=>{
				var tr;
				// jquery will search category_body id
				$('#product_body').html('');
				
				 resdata.map((res)=>{
					tr = $('<tr/>');"src/main/java/com/xsis/bootcamp/model/ProductModel.java"
					td = $('<td/>');
					 var actions = '<div class="input-group-btn">' +
		             '            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action' +
		             '                <span class="fa fa-caret-down"></span></button>' +
		             '            <ul class="dropdown-menu">' +
		             '                <li onclick="editAction(this)" value='+res.id+' data-toggle="modal" data-target="#editCategory"><a href="#">Edit</a></li>' +
		             '                <li onclick="deleteAction(this)" value='+res.id+'><a href="#">Delete</a></li>\n' +
		             '            </ul>\n' +
		             '        </div>';
		             
		            tr.append("<td>" + res.id+ "</td>");
		            tr.append("<td>" + res.prodName+ "</td>");
		            tr.append("<td>" + res.prodPrice+ "</td>");
		            tr.append("<td>" + res.prodStock+ "</td>");
		            tr.append("<td>" + res.varnName+"/"+res.cateName+ "</td>");

		            
		           
					
					
					tr.append("<td>" + actions+ "</td>");
					
					$("#product_body").append(tr);
				}); 
		}
		}

		

	


</script>

