<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>	
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		<h1 class="h2">Variant</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group mr-2">
				<button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#addVariant">New</button>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Initial</th>
						<th>Name</th>
						<th>Category Id</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="variant_body">

				</tbody>
			</table>
		</div>
	</div>
				
	<!-- Modal add -->
	<div class="modal fade" id="addVariant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  	<div class="modal-dialog" role="document">
	    	<div class="modal-content">
	     	<div class="modal-header">
	        	<h5 class="modal-title" >Add Variant</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
	      	</div>
	      	<div class="modal-body" id="formVariant">
		  		<form id="formCategory">
					<div class="form-group">
						<label for="title">Initial :</label><br> 
						<input class="form-control" type="text" id="initial" name="initial" placeholder="input Initial">
					</div>
					<div class="form-group">
						<label for="name">Name :</label><br> 
						<input class="form-control" type="text" id="name" name="name" placeholder="input name">
					</div>
					<div class="form-group">
						<select class="form-control" id="cateId" name="cateId" >
		   				<option th:each="t : ${category}" th:text="${t.cateName}" th:value="${t.Id}" ></option>
	  					</select>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="isActive">
						<label class="form-check-label" for="isActive">Check For Active</label>
					</div>
				</form>
	     	 </div>
		     <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" id="saveBtn" class="btn btn-primary">Save</button>
			 </div>
	    	</div>
	 	</div>
	</div>
	<!-- /.modal -->
				
				
				
	<!-- Modal Edit -->
	<div class="modal fade" id="editVariant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" >Add Variant</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="formVariant">
		   <form id="editVariant">
		   		<div class="form-group">
					<label for="title">Variant Id :</label><br> <input
					class="form-control" type="text" id="editVarId" name="editVarId"
					disabled="disabled">
					</div>
				<div class="form-group">
					<label for="title">Initial :</label><br> 
					<input class="form-control" type="text" id="editInitial" name="editInitial" placeholder="input Initial">
				</div>
				<div class="form-group">
					<label for="name">Name :</label><br> 
					<input class="form-control" type="text" id="editName" name="editName" placeholder="input name">
				</div>
				<div class="form-group">
					<select class="form-control" id="editCateId" name="editCateId" >
	   				<option th:each="t : ${category}" th:text="${t.cateName}" th:value="${t.Id}" ></option>
  					</select>
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="editIsActive">
					<label class="form-check-label" for="isActive">Check For Active</label>
				</div>
			</form>
	      </div>
	      <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" id="editBtn" class="btn btn-primary">Save</button>
		  </div>
	    </div>
	  </div>
	</div>
</body>

<script>
	var apiVariant = "/api/variant/";
	$(()=>{
		onLoadApi();
	});
	
	onLoadApi=()=>{
		$.ajax({
			url: apiVariant,
			type: 'get',
			contentType: 'application/json',
			success : (respond) =>{
				console.log(respond);
				generateTable(respond);
			},
			error:()=>{
				console.log('Failed to fetch data');
			}
		});
	
	}
	
	generateTable=(resdata)=>{
		var tr;
		// jquery will search category_body id
		$('#variant_body').html('');
		
		 resdata.map((res)=>{
			tr = $('<tr/>');
			 var actions= '<div class="input-group-btn">' +
             '            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action' +
             '                <span class="fa fa-caret-down"></span></button>' +
             '            <ul class="dropdown-menu">' +
             '                <li onclick="editAction(this)" value='+res.id+' data-toggle="modal" data-target="#editVariant"><a href="#">Edit</a></li>' +
             '                <li onclick="deleteAction(this)" value='+res.id+'><a href="#">Delete</a></li>\n' +
             '            </ul>\n' +
             '        </div>';
             
            tr.append("<td>" + res.varnInitial+ "</td>");
            tr.append("<td>" + res.varnName+ "</td>");
            tr.append("<td>" + res.categoryId+ "</td>");
            tr.append("<td>" + res.varnIsActive+ "</td>");
			tr.append("<td>" + actions+ "</td>");
			$("#variant_body").append(tr);
		}); 
		
		 
	}
	
	$("#saveBtn").click(function() {
		let data ={
				varnInitial : $("#initial").val() ,
				varnName : $("#name").val() ,
				categoryId : $("#cateId").val() ,
				varnIsActive : $("#isActive").is(':checked')=== true ? 'Y' : 'N'
		}
		
		$.ajax({
			url : '/api/variant/add',
			type : 'post',
			contentType : 'application/json',
			
			data: JSON.stringify(data),
			success: (respond) =>{
				onLoadApi();
				$('#addVariant').modal('hide');
				Swal.fire({
					  position: 'top-center',
					  icon: 'success',
					  title: 'Your work has been saved',
					  showConfirmButton: false,
					  timer: 1500
					})
			},
			error:()=>{
				alert('Failed to save data');
			}
		})
	});
	
	
	editAction=(e)=>{
		//alert(e.value);
		$.ajax({
            url:'/api/variant/'+e.value,
            type: 'get',
            contentType: 'application/json',
            success:(res)=>{
            	 $('#editVarId').val(res.id)
                $('#editInitial').val(res.varnInitial)
                $('#editName').val(res.varnName)
                $('#editCateId').val(res.categoryId)
                $('#editIsActive').val(res.varnIsActive)
                if (res.varnIsActive ==='Y'){
                	$("#editIsActive").prop("checked", true);
                }else{
                	$("#editIsActive").prop("checked", false);
                }
               
            },
            error: ()=>{
                console.log("error fetch data")
            }
        })
	}
	
	$("#editBtn").click(function() {
		let data ={
				id : $("#editVarnId").val(),
				varnInitial : $("#editInitial").val() ,
				varnName : $("#editName").val() ,
				categoryId : $("#editCateId").val() ,
				varnIsActive : $("#editIsActive").is(':checked')=== true ? 'Y' : 'N'
				}
		
		//alert(JSON.stringify(data));
		 $.ajax({
			url : '/api/variant/put',
			type : 'put',
			contentType : 'application/json',
			data: JSON.stringify(data),
			success: (respond) =>{
				onLoadApi();
				$('#editVariant').modal('hide');
				
				Swal.fire({
	           		  position: 'top-center',
	           		  icon: 'success',
	           		  width: 600,
	           		  title: 'Data berhasil di update',
	           		  showConfirmButton: false,
	           		  timer: 1500
	           		});

				
			},
			error:()=>{
				alert('Failed to save data');
			}
		}) 
	});
	
	
	deleteAction=(e)=>{
		//alert(e.value);
		Swal.fire({
		  title: 'Apa kamu yakin?',
		  icon: 'warning',
		  showCancelButton: true,
		  confirmButtonColor: '#3085d6',
		  cancelButtonColor: '#d33',
		  confirmButtonText: 'Ya!'
		}).then((result) => {
		  if (result.value) {
			
			  $.ajax({
		            url:'api/variant/delete/'+e.value,
		            type: 'delete',
		            contentType: 'application/json',
		            success:(res)=>{
		            	 
		            	 
		            	 onLoadApi();
		            	 
		            	 Swal.fire(
		           		      'Deleted!',
		           		      'Data Berhasil Dihapus'
		           		    );
		            	
		               
		            },
		            error: ()=>{
		                console.log("error when delete data")
		            }
		        });// ajax end
		   
		  }
		})
		
		
	}

</script>

</html>